body {
  background-color: grey;
  font-family: monospace;
  font-size: 150%;
}

h1 {
  color: black;
}

h2{
  font-size: 200%;
}

h3{
  text-align: center;
  font-size: 150%;
}

h4{
  font-size: 125%;
}

h3 + ul{
  margin-top: -15px;
}

p{
  text-align: left;
}

br{
  scale: 5px;
}

button{
  border-radius:5px;
  border: 2px solid;
  
  color: black;
  background-color: #3498db;
  font-family: monospace;
  font-size: inherit;
}

div{
  padding-left: 5px;
  margin-right: 3px;
}
/*classnames*/
.map{
  max-width: 30%;
  margin: 5px 5px 5px 5px;
}

.cat{
  border-style: solid;
  margin-bottom: 5px;
}
.res{
  margin-left: 30px;
  list-style: circle;
}

.tab{
  width: 100%;
}

.tab button:hover {
  background-color: #3173c4;
}

.tab button.active {
  background-color: #2e65a8;
}

.tabcontent{
  text-align: center;
}

/*ID names*/
#staff{
  text-align: left;
}

#heading{
  background-color: grey;
}