body {
  background-color: grey;
  font-family: monospace;
}
h1 {
  color: black;
}

button{
  border-radius:5px;
  border: 2px solid;
  
  color: black;
  background-color: #3498db;
  font-family: monospace;
}
.btn1 {
  color: #3498db;
  background-color: black;
}

